@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

body {
  background-color: #24283b;
  color: #c0caf5;
  font-family: "Silkscreen", sans-serif;
  font-style: normal;
}

header {
  display: flex;
  font-size: 3rem;
  justify-content: center;
  color: #9ece6a;
}

#buttons {
  display: flex;
  justify-content: center;
}

#game {
  display: flex;
}

#pause {
  display: flex;
  justify-content: center;
}

#console {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin: 10px;
  color: #9ece6a;
}

.fullBoard {
  display: flex;
  flex-direction: row;
  width: 50%;
  flex-wrap: nowrap;
}

.shipYard {
  height: 50%;
  display: flex;
  margin: 10px;
  flex-direction: column;
  width: 10vw;
}

.allShips {
  display: flex;
  flex: row;
}

.ship {
  display: flex;
  flex-direction: column;
}

.shipBox {
  height: 1vw;
  width: 1vw;
  margin: 1px;
  background-color: #c0caf5;
}

form {
  width: 20%;
}

input {
  width: 75%;
}

.board {
  width: 500px;
  height: 500px;
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.gridBox-playerTwo,
.gridBox-playerOne {
  width: 50px;
  height: 50px;
  background-color: #c0caf5;
  border-radius: 1px;
  margin: 1px;
}

.gridBox-playerTwo:hover,
.gridBox-playerOne:hover {
  filter: brightness(70%);
  cursor: pointer;
}

button {
  background-color: #c0caf5;
}
