#game {
  display: flex;
  flex-direction: row;
}

.shipYard {
  width: 500px;
  height: 265px;
  border: 1px solid red;
  display: flex;
  margin: 10px;
  flex-direction: row;
}

.ship {
  display: flex;
  flex-direction: column;
}

.shipBox {
  height: 50px;
  width: 50px;
  margin: 1px;
  background-color: gray;
}

form {
  width: 20%;
}

input {
  width: 75%;
}

.board {
  width: 500px;
  height: 500px;
  border: 1px solid red;
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.gridBox-playerTwo,
.gridBox-playerOne {
  width: 50px;
  height: 50px;
  background-color: lightblue;
  border: 1px solid blue;
}

.gridBox:hover {
  background-color: lightblue;
  cursor: pointer;
}
