#game {
  display: flex;
  flex: row;
}

.board {
  width: 500px;
  height: 500px;
  border: 1px solid red;
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.gridBox {
  width: 50px;
  height: 50px;
  border: 1px solid blue;
}

.gridBox:hover {
  background-color: lightblue;
  cursor: pointer; /* Changes the cursor to a hand icon */
}
